@model BlogProject.ViewModels.Account.AccountViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>ChangePassword</h2>

<div class="col-md-6">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {

        <div class="input-group">
            <span class="input-group-addon " id="txtNewPass">New password</span>
            @Html.PasswordFor(x => x.Password1, new { @class = "form-control", required = "required", aria_describedby = "txtNewPass" })
        </div> <br />

        <div class="input-group">
            <span class="input-group-addon" id="txtVerifyPass">Verify password</span>
            @Html.PasswordFor(x => x.Password2, new { @class = "form-control", required = "required", aria_describedby = "txtVerifyPass" })
        </div> <br />
        <input class="btn btn-info" value="Save changes" type="submit"/>

    }
    <br /><br />
    <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Warning</div>
</div>